archive
pkgs/*/state
pkgs/*/log
pkgs/*/build
pkgs/m4/m4-*
pkgs/autoconf/autoconf-*
pkgs/autoconf-archive/autoconf-archive-*
pkgs/automake/automake-*
pkgs/pkgconf/pkgconf-*
pkgs/zlib/zlib-*
pkgs/flex/flex-*
pkgs/bison/bison-*
pkgs/openssl/openssl-*
pkgs/curl-stage1/curl-*
pkgs/jq/jq-*
pkgs/cmake/cmake-*
pkgs/libuv/libuv-*
pkgs/expat/expat-*
pkgs/libcpuid/libcpuid-*
pkgs/editline/editline-*
pkgs/patchelf/patchelf-*
pkgs/sqlite/sqlite-*
pkgs/python/Python-*
pkgs/libsodium/libsodium-*
pkgs/libtool/libtool-*
pkgs/libssh2/libssh2-*
pkgs/libgit2/libgit2-*
pkgs/libarchive/libarchive-*
pkgs/lowdown/lowdown-*
pkgs/brotli/brotli-*
